html,
body {
    height: 100%;
}

body {
    background-color: #76c4c6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@keyframes circlebingle {
    50% {
        transform: rotate(0.5turn);
    }
    100% {
        transform: rotate(0.5turn);
    }
}

.ani {
    width: 200px;
    display: flex;
    justify-content: space-around;
}

.dot {
    width: 200px;
    display: flex;
    justify-content: space-around;
    animation : circlebingle 1s ease-in-out infinite;
    margin-bottom: 200px;
}

.dotted {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: white;
}

.sq {
    width: 150px;
}

@keyframes squarepiano {
    0% {
        transform: none;
    }
    25% {
        transform: scaleY(2);
    }
    50%,
    100% {
        transform: none;
    }
}

.square {
    width: 20px;
    height: 80px;
    background-color: white;
    animation: squarepiano 1s ease-in-out infinite;
}

.square:nth-child(2) {
    animation-delay: 0.1s;
}
.square:nth-child(3) {
    animation-delay: 0.2s;
}
.square:nth-child(4) {
    animation-delay: 0.3s;
}
.square:nth-child(5) {
    animation-delay: 0.4s;
}
