body {
    height:100vh;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    margin-bottom: 30px;
}

section {
    width: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.color {
    width: 48%;
    position: relative;
    margin-bottom: 20px;
}

.color:first-child .color_title {
    background-color: tomato;
}

.color:nth-child(2) .color_title {
    background-color: teal;
}

.color:nth-child(3) .color_title {
    background-color: burlywood;
}

.color:last-child .color_title {
    background-color: thistle;
}

.color_title {
    height: 300px;
    border : 5px solid white;
}

.color_text {
    position: absolute;
    width: 100%;
    background-color: white;
    top: 20px;
    padding: 0px 10px;
    box-sizing: border-box;
}