body {
    background-color: tomato;
    height : 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.first_box {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 300px;
    height: 300px;
    border: 2px solid black;
    background-color: wheat;
}

.second_box {
    display: flex;
    background-color: teal;
    width: 60px;
    height: 60px;
    border: 3px solid white;
}

.second_box:nth-child(2) {
    width: 240px;
    border-style: dashed;
}